body {
    background-color: black;
    color: #0b0;
    font-face: Arial;
}

#main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

#header {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
#header img {
    padding: 5px;
    background-color: white;
    width: 50px;
}
#header #pagetitle {
    font-size: 20px;
    float: left;
}
#header #menu {
    padding: 10px;
    font-size: 12px;
    background-color: black;
    color: white;
    float: right;
}
#header #menu li {
    list-style-type: none;
    display: inline;
    padding-left: 20px;
}

#pohiline {
    width: 65%;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #338;
    padding: 5px 10px 5px 10px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 28px;
}

#content {
    border: 2px #555 solid;
    padding: 5px;
}

#sidebar {
    width: 25%;
    position: relative;
    right: -10px;
    background-color: #444;
    margin-left: 20px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    overflow: scroll;
    height: 400px;
}

.metaquote .date {
    float: right;
    font-size: smaller;
    font-weight: bold;
}
.metaquote .author {
    float: right;
    font-size: smaller;
    font-weight: bold;
}
.metaquote .text {
    float: left;
}

a {
    color: #09c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
